/*import normalize.css*/
@import "normalize.scss";

/*general styles*/
html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

body {
  font-family: 'Glory', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  margin: 0 0 60px;
}

/*active burger background*/
body {
  transition: all 0.3s ease;

  &.active {
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      background-color: #808080;
      transition: all 0.3s ease;
    }
  }
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  .nav__inner {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 0;
  }
  & .nav-list {
    display: none;
  }
}

/*burger*/
.burger {
  position: relative;
  width: 33px;
  height: 19px;
  z-index: 3;

  &:hover {
    cursor: pointer;
  }

  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &.active {
    span {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &:before {
      top: 50%;
      -webkit-transform: rotate(-45deg) translate(0, -50%);
      -moz-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
      -o-transform: rotate(-45deg) translate(0, -50%);
      transform: rotate(-45deg) translate(0, -50%);
    }

    &:after {
      top: 50%;
      -webkit-transform: rotate(45deg) translate(0, -50%);
      -moz-transform: rotate(45deg) translate(0, -50%);
      -ms-transform: rotate(45deg) translate(0, -50%);
      -o-transform: rotate(45deg) translate(0, -50%);
      transform: rotate(45deg) translate(0, -50%);
    }
  }
}

/*main*/
.main {
  padding: 60px 0;
}

.main__inner {
  display: flex;
  justify-content: space-between;
}

.main__title {
  font-size: 47px;
  margin: 0 0 23px;
}

.main__subtitle {
  margin: 0 0 37px;
}

.burger__menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  z-index: 2;
  padding: 55px 25px;
  background-color: #FFFFFF;

  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
  color: #828282;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.active .burger__menu {
  right: 0;
}

.burger__menu-item + .burger__menu-item {
  margin: 65px 0 0;
}

.main__image {
  overflow: hidden;
  height: 478px;

  img {
    object-fit: cover;
    -o-object-position: 50% 20%;
    object-position: 50% 20%;
    width: 100%;
    height: 100%;
  }
}

/*about me*/
.about-me {
  padding: 80px 0;
  background-color: #F6F6F6;

  .about-me__text {
    text-align: center;
  }

  .about-me__text-wrapper {
    max-width: 320px;
    margin: 0 auto;
  }

  .about-me__text + .about-me__text {
    margin: 30px 0 0;
  }
}

/*skills*/
.skills {
  padding: 80px 0;

  .skills__text {
    text-align: center;
  }

  h4 {
    text-align: center;
  }
}

.skills__cards {
  display: flex;
  flex-direction: column;

  .skills_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 210px;
    padding: 30px 0;
    text-align: center;

    .skill-icon {
      width: 90px;
      height: 90px;
    }
  }
}

/*portfolio*/
.portfolio {
  padding: 80px 0;
  background-color: #F6F6F6;
}

.portfolio__card {
  text-align: center;

  .portfolio__link {
    text-decoration: underline;
  }
}

.portfolio__card + .portfolio__card {
  margin: 105px 0 0;
}

.portfolio__img {
  margin: 0 0 20px;

  img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

/*contacts*/
.contacts {
  padding: 80px 0;
  text-align: center;
}

.contacts__btn {
  padding: 12px 97px;
  left: 29px;
  top: 4102px;
  background: #000000;
  border-radius: 50px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;
  }
}

.contacts__social-container {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  margin: 40px auto 0;

  .contacts__social-icon {
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;

    &:hover {
      width: 45px;
      height: 45px;
    }
  }
}

